@layer components {
  .anchor {
    flex: 0 0 auto;
    display: inline-flex;
    anchor-name: --cdg-tempo-anchor;
  }

  .popover {
    position: fixed;
    position-anchor: --cdg-tempo-anchor;
    inset: auto;
    top: anchor(bottom);
    right: anchor(right);
    left: auto;
    bottom: auto;
    margin: 0;
  }
}
