node_modules
.idea
!/zipfiles
/zipfiles/*
!/zipfiles/README.md


.nx/cache
.nx/workspace-data
vite.config.*.timestamp*
vitest.config.*.timestamp*
**/.dist/
/dist/
/coverage
/artifacts/perf/**
!/artifacts/perf/README.md