// https://css-tricks.com/aspect-ratio-boxes/
$playerBaseWidth: 300px;
$playerBaseHeight: 216px;

.cdg-video-wrapper {
  position: relative;
  text-align: center;
  background-color: #000;
  .cdg-video-player {
    position: relative;
    width: calc(.72 * 100%);
    margin: 0 auto;
  }
  .titleImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: auto;
    background-color: transparent;
    &.hide {
      display: none;
    }
  }
}