$playerBaseWidth: 300px;
$playerBaseHeight: 216px;

.cdg-video-wrapper {
  height: 0;
  overflow: hidden;
  padding-top: $playerBaseHeight / $playerBaseWidth * 100%;
  background-color: #000;
  position: relative;
  .cdg-video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}