@layer components {
  .frameworkShell {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
  }

  .controlsHeader {
    display: flex;
    flex-direction: column;
  }
}
